html{

overflow-x:hidden;

}



body{ 

  color:white;
background-color:black; 
font-family: 'Times New Roman', Times, serif;
font-size: large;
}




a{color:darkgreen!important; font-weight: bolder!important; font-style: italic!important; text-decoration: underline!important;}

h1,h2,h3,h4,h5,h6{color:darkgreen;
 font-weight: bolder;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  }

  b > i{

    color:darkgreen!important;

  }


  
  c{

    color:darkgreen!important;
     font-weight: bolder;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;

  }

  tr:nth-child(odd) {background-color: #181818;}